<p>Liebe:r <%= @user.personal_name %>,</p>

<p>Wir danken dir herzlich für deine Anmeldung als Gastgeber:in! Gemeinsam können wir den Menschen, die dem Krieg aus der Ukraine entkommen, dabei helfen, einen sicheren Ort zu finden. </p>

<p>Falls du dein Angebot anpassen oder löschen musst, kannst du das hier tun: <%= url(@my_listing.nil? ? "https://safehost.space" : "https://safehost.space/de/hosts/#{@my_listing}/edit") %> . Dein Passwort fürs Einloggen ist: <b><%= @pw %></b>. Bitte notiere dir dieses Passwort.</p>

<p>Sobald unser Team passende Gäste für dich findet, werden wir dich telefonisch kontaktieren. Du kannst zu dem Zeitpunkt immer noch ablehnen, jemanden aufzunehmen, aber hoffentlich klappt es ja. Dann vereinbaren wir den nächsten Schritt - im Normalfall die Abholung am LAF. Hier noch ein paar nützliche Ressourcen: </p>
<ul>
<li><a href="https://www.berlin.de/ukraine/">offizielle Seite des LAF</a></li>
<li><a href="https://www.berlin.de/ukraine/faq/">Fragen und Antworten</a> zu Themen wie Anmeldung, Status, Sozialhilfe usw.</li>
<li><a href="https://t.me/uaprivatehousingsupport">Selbsthilfegruppe der Gastfamilien</a></li>
</ul>

<p>Nochmals vielen Dank!</p>

<p>-- das SafeHost Team</p>