<p>Dear <%= @user.personal_name %>,</p>

<p>Thank you so much for signing up as a host! Together, we can help the people fleeing from the war in Ukraine find a safer space. </p>

<p>If you ever need to modify or disable your offer, you can do so by going to <%= url(@my_listing.nil? ? "https://safehost.space" : "https://safehost.space/hosts/#{@my_listing}/edit") %> and logging in with password <b><%= @pw %></b>. Please write down this password.</p>

<p>As soon as our team has found suitable guests for you, we will contact you via phone. At that point you can still refuse to host someone, but of course we hope that things will work out. Then we'll agree on the next step - normally this means picking up your new guests at the LAF. Here are some more useful resources for you:</p>
<ul>
<li><a href="https://www.berlin.de/ukraine/">official page of the LAF</a></li>
<li><a href="https://www.berlin.de/ukraine/faq/">the FAQ</a> for topics like registration, status, social aid, etc.</li>
<li><a href="https://t.me/uaprivatehousingsupport">the mutual support group for hosts</a></li>
</ul>

<p>Thank you again!</p>

<p>-- the SafeHost team</p>