<div class="alert alert-success" role="alert">
  Thank you so much for signing up as a host!
</div>

<p>Together, we can help the people fleeing from the war in Ukraine find a safer space.</p>

<p>If you ever need to modify or disable your offer, you can do so by going to <%= url(@my_listing.nil? ? "https://safehost.space" : "https://safehost.space/hosts/#{@my_listing}/edit") %> </p>

<p>When you will start hosting guests, you can always turn to the following resources to learn what the next steps for them will be: </p>
<ul>
<li><a href="https://www.berlin.de/laf/">official page of the LAF (Landesamt für Flüchtlingsangelegenheiten)</a></li>
<li><a href="https://www.berlin.de/ukraine/faq/">the FAQ</a> for topics like registration, status, social aid, etc.</li>
<li><a href="https://t.me/uaprivatehousingsupport">the mutual support group for hosts</a></li>
</ul>

<p>Thank you again!</p>
