<%- model_class = Host -%>
<div class="page-header">
  <h1><%= t("host.new") %></h1>
</div>

<p>Lieber möglicher Gastgeber, liebe mögliche Gastgeberin, </p>

<p>vielen Dank für dein Interesse an der Bereitstellung von Unterkünften für Kriegsflüchtlinge aus der Ukraine. Wir sind sehr dankbar für jegliche Art von Unterstützung, insbesondere denen, die Unterkünfte für Geflüchtete anbieten können. Wir empfehlen unsere Häufig gestellten Fragen (FAQs) zu lesen, bevor du dich anmeldest und Unterkunft anbietest. Es gibt auch eine Liste mit nützlichen Links für weitere Informationen.</p>

<p>Zunächst einmal die Information, dass das untenstehende Formular deine Daten in einer sicheren, verschlüsselten Datenbank speichert, die in Deutschland gehostet wird. Sie wird von einer Gruppe privater Freiwilliger von https://www.accommodation-for-refugees.com/ genutzt und ist mittels Open-Source-Code betrieben. </p>

<p>Die Freiwilligen des LAF werden deine Angaben prüfen, um festzustellen, ob dein Angebot zu bedürftigen Geflüchteten, die vor Ort ankommen, passt. Sollten sich von deiner Seite aus Änderungen ergeben, aktualisiere bitte nachträglich die von dir gemachten Angaben in deinem Gastgeberprofil.</p>

<p>Die Freiwilligen des LAF werden dich telefonisch kontaktieren, wenn es eine Übereinstimmung zwischen deinem Angebot und  bedürftigen Geflüchteten gibt. Daraufhin solltest du zum LAF kommen, um deine neuen Gäste kennenzulernen.</p>

<%= render :partial => 'form' %>
