<script>
  $( document ).ready(function() {
    console.log( "jQuery is functional." );
  });
</script>

<h3  mb-1>Safehost</h3>
<p style="font-family:verdana; color:#24d6ab;">is made for bringing together hosts and refugees for accommodation.</p>
<p>While dozens of such tools exist, this one was developed bottom-up in consideration of needs of on-site volunteers at Landesamt für Flüchtlingsangelegenheiten - Berlin (LAF)/State Office for Refugee Affairs Berlin, one of Berlin’s arrival centers for refugees. It emphasizes safety by i) verifying host’s phone number through a code sent via SMS, and ii) saving host’s ID or passport number at the time of on-site greeting/pickup, verified by volunteers.</p>

<p>For now, refugees are being picked up <b>by the hosts personally at LAF.</b></p>

<p>The aim of this tool is to specifically:</p>
<ol type="i">
<li> support provision of safer spaces through its verification system;</li>
<li> support on-the-spot-matching for refugees arriving at LAF with hosts offering space;</li>
<li> better data security than the previous GoogleForms, including better compliance with GDPR, for example through storage on German servers; and</li>
<li> enable both visibility and trust in the authenticity of the solution. Many people were suspicious of using a simple GoogleForm being shared, without knowing who the data would really go to.</li>
</ol>

<p class="mb-5">The tool initially is only going to be used by the private initiative <a href="https://www.accommodation-for-refugees.com/" class="link-secondary">Accomodation for Refugees</a>, volunteering on-site at LAF. They match refugees who arrive on-site with hosts. In the past days, more than 140 accommodations have been mediated.</p>