<script>
  $( document ).ready(function() {
    console.log( "jQuery is functional." );
  });
</script>

<h3  mb-1>Safehost</h3>
<div class="">
<p style="font-family:verdana; color:#24d6ab;">Diese Webseite wurde entwickelt, um Gastgeber:innen von Unterbringungen mit Geflüchteten zusammenzubringen. Während es Dutzende solcher Seiten gibt, wurde dieses bottom-up entwickelt, das heißt unter Berücksichtigung der Bedürfnisse der Freiwilligen vor Ort im Landesamt für Flüchtlingsangelegenheiten (LAF) Berlin, einem der Berliner Ankunftszentren für Geflüchtete. Die Sicherheit wird dadurch erhöht, dass i) die Telefonnummer des Gastgebers oder der Gastgeberin durch einen per SMS verschickten Code verifiziert wird und ii) die ID- oder Passnummer des Gastgebers oder der Gastgeberin bei der Begrüßung/Abholung vor Ort gespeichert und von Freiwilligen überprüft wird.</p>

<p>Zurzeit werden die Geflüchteten <b>von den Gastgeber:innen persönlich im LAF</b> abgeholt.</p>
<p>Das Ziel dieser Webseite ist es, insbesondere:</p>
<ol type="i">
<li> die Bereitstellung von sicheren Unterkünften durch das Verifizierungssystem zu unterstützen;</li>
<li> den Abgleich zwischen den beim LAF ankommenden Geflüchteten und den Gastgeber:innen, die vor Ort Unterkünfte anbieten, zu unterstützen;</li>
<li> bessere Datensicherheit als die bisherigen GoogleForms, einschließlich einer besseren Einhaltung der Datenschutz-Grundverordnung, beispielsweise durch Speicherung auf deutschen Servern, und</li>
<li> Sichtbarkeit und Vertrauen in die Authentizität der Lösung zu ermöglichen. Viele Menschen waren misstrauisch, ein einfaches GoogleFormular zu verwenden, ohne zu wissen, an wen die Daten wirklich weitergegeben würden.</li>
</ol>

<p class="mb-5">Diese Webseite wird zunächst nur von der privaten Initiative Accomodation for Refugees genutzt, die ehrenamtlich vor Ort beim LAF tätig ist. Sie bringt Geflüchtete, die vor Ort ankommen, mit Gastgeber:innen zusammen. In den vergangenen Tagen wurden bereits mehr als 140 Unterkünfte vermittelt.</p>