

<h3 class="header-style mb-3">1. Allgemeines</h3>



<div class="accordion accordion-flush" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Warum noch eine Seite für die Vermittlung von Unterkünften?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Es stimmt, dass das ganze Thema um die Unterbringungen sehr verwirrend ist. Generell können Seiten, die Angebote und Lösungen für Unterbringungen anbieten, danach unterschieden werden, wem sie Datenzugriff geben - zum Beispiel:
    <ol type="i" class="">
    <li>offiziellen Behörden</li>
    <li>Freiwilligen, die mit offiziellen Behörden zusammenarbeiten</li>
    <li>Freiwilligen </li>
    <li>Geflüchteten </li>
    </ol>
    <p class="">Die Seiten unterscheiden sich auch nach dem Grad der Identitätsüberprüfung und der Sicherheitsprüfung, die über die Anbieter durchgeführt werden, sowie nach den eingehaltenen Datenschutzstandards. Die folgende Tabelle bietet eine Übersicht: Die Sicherheit ist wohl umso höher, je weiter ein Eintrag von der unteren rechten Ecke entfernt ist. Für die Einschätzungen übernehmen wir keine Haftung. </p>


   <div class="table-responsive">
<table class="table table-secondary table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" class="fst-italic fs-6">Manuelle Sicherheitsüberprüfung / <br> Identitätsprüfung</th>
      <th scope="col" class="fst-italic fs-6">Automatische Sicherheitsüberprüfung</th>
      <th scope="col" class="fst-italic fs-6">Keine Sicherheitsüberprüfung / <br> Identitätsprüfung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Datenzugriff für Behörden</th>
      <td>Möglicherweise: unterkunft-ukraine.de</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Datenzugriff für Freiwillige, die mit Behörden kooperieren</th>
      <td><strong>Safehost für Freiwillige, die am LAF Berlin <a href="https://www.berlin.de/laf/">(Landesamt für Flüchtlingsangelegenheiten)</a>, tätig sind.</strong> <br> Zahlreiche weitere Online-Formulare oft auf Google-Basis</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Datenzugriff für Freiwillige</th>
      <td>Manche lokale Initiativen, die als Vermittler zwischen öffentlichen Angeboten und Nachfragen agieren.</td>
      <td></td>
      <td></td>
    </tr>
<tr>
      <th scope="row">Direkter Datenzugriff für Flüchtende</th>
      <td></td>
      <td>Z.B. helppeopleleaveukraine.org, wunderflats.com</td>
      <td>Der Großteil der übrigen Plattformen, Apps und Telegramkanäle.</td>
    </tr>

  </tbody>
</table>
</div>

 <p class="mt-3">Jede offizielle Behörde wird höhere Sicherheitsstandards verlangen, um Geflüchtete mit Gastgeber:innen zu verbinden. Auf der anderen Seite können informelle Seiten und Medien sehr schnell sein, aber oft zu Sicherheitsrisiken führen, die Behörden nie eingehen würden. Diese Seite versucht eine Lücke zu füllen, in der zuvor lediglich Online-Formulare genutzt wurden, bei denen es schwierig ist, zu überprüfen, wer diese betreibt.
<br>
(Falls deine Seite in der obigen Tabelle falsch aufgelistet ist, weise uns bitte mit entsprechenden Nachweisen darauf hin).</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Warum gibt es eigentlich so viele unterschiedliche Unterkunfts-Seiten?
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Alle möchten helfen, einschließlich ITler:innen. Aber es gab und gibt bislang kein zentrales Forum, das diejenigen, die Plattformen für Unterkünfte betreiben oder planen, miteinander vernetzt. Falls du solch eine Seite betreibst oder planst und informell Kontakt mit uns aufnehmen möchtest, dann schreibe gerne <a href="mailto:matthi@safehost.space" class="text-muted"> matthi@safehost.space </a>.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Könnt ihr mir mehr zu der Unterkunfts-Seite XYZ sagen?
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Nein, wir können leider nicht mehr sagen als oben angeführt.
      </div>
    </div>
  </div>
</div>


<h3 class="header-style mb-3 mt-3" >2. Datenschutz und Sicherheit</h3>

<div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
       Was passiert mit meinen Daten?
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
Auf technischer Ebene: Deine Daten werden verschlüsselt und auf unserem sicheren Server gespeichert (Hosting durch Heroku auf einem Server in Frankfurt). Wir verkaufen deine Daten nicht, geben sie nicht an andere Unternehmen weiter und unsere Website integriert keine Dienste wie Google Analytics, Facebook Pixel, Doubleclick oder ähnliche.
Auf logistischer Ebene wird sie nur für die Freiwilligen der Initiative
 <a href="https://www.accommodation-for-refugees.com/" class="text-muted">https://www.accommodation-for-refugees.com/</a> zugänglich sein, die dann vor Ort beim LAF <a href="https://www.berlin.de/laf/">(Landesamt für Flüchtlingsangelegenheiten)</a> Geflüchtete mit Gastgeber:innen verbinden werden.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
        Wer betreibt diese Seite?
      </button>
    </h2>
    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Wir sind eine Initiative  von ca. 12 Menschen, die sich über Social Media gefunden haben, durch Diskussionen über das Problem, wie Geflüchtete mit Gastgeber:innen verbunden werden können.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Wie kann ich wissen, dass die Daten wirklich so genutzt werden wie ihr das behauptet?
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Wir arbeiten daran, adäquate Backlinks von der Seiten der anderen Initiativen zu erhalten.
      </div>
    </div>
  </div>



 <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Werden die Daten verschlüsselt? Was bedeutet das?
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Der Datenfluss ist durch SSL geschützt. Sind die Daten auf unserem Server, so sind sie mit AES-256 verschlüsselt. Wir stellen auch sicher, dass personenbezogene Daten (wie E-Mail-Adressen) aus unseren Log-Protokollen entfernt werden.
      </div>
    </div>
  </div>

 <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
       Ist der Quellcode für eure Seite Open Source?
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Ja, du kannst den Code unter <a href="https://github.com/Sprachprofi/safehost" class="text-muted"> https://github.com/Sprachprofi/safehost/</a>, einsehen, lizenziert unter CC BY-NC-SA 4.0.
      </div>
    </div>
  </div>

<div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
       Speichert der Telefonverifizierungsdienst auch meine Telefonnummer? Oder tut das nur eure Webseite?
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Aus buchhalterisch und rechtlichen Gründen muss der Telefonverifizierungsdienst eine Liste der Telefonnummern speichern, an die er SMS geschickt hat. Er weiß jedoch nichts über dich, nicht einmal deinen Namen.
      </div>
    </div>
  </div>

<div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
      Wo befinden sich eure Server?
      </button>
    </h2>
    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
      <div class="accordion-body">
     Wir sind bei Heroku in Frankfurt gehostet.
      </div>
    </div>
  </div>


<h3 class="header-style mb-3 mt-3" >3. Unterstützung von Gästen</h3>

<p>Siehe auch <a href="https://safehost.space/en/pages/next_steps" class="text-muted">Nächste Schritte</a></p>

<div class="accordion accordion-flush" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
       Ich habe Gäste über eure Seite aufgenommen, könnt ihr mir helfen, sie zu unterstützen?
      </button>
    </h2>
    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
 Wir haben einige wichtige Hinweise auf der Seite <a href="https://safehost.space/en/pages/next_steps" class="text-muted">Nächste Schritte</a> gegeben, die automatisch angezeigt wurden, nachdem du deine Unterkunft registriert hast. Da sich die Situation jedoch sehr schnell ändert, können wir leider nicht mehr tun als das. Leider können wir auch nicht garantieren, dass diese Informationen jederzeit auf dem neuesten Stand ist, obwohl wir unser Bestes tun, sie aktuell zu halten. Außerdem kann es sein, dass ein Sozialamt oder eine Behörde anders entscheidet als ein jeweils anderes.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
        Ich kann meine Gäste nicht mehr beherbergen - könnt ihr mir sagen, wohin sie gehen können?
      </button>
    </h2>
    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Das ist leider in der Tat ein schwieriges Thema. Am sinnvollsten wäre es, wenn sie eine Unterkunft in einem Teil Deutschlands oder Europas suchen und finden würden, in dem noch Langzeitwohnungen verfügbar sind. Allerdings gibt es unseres Wissens nach derzeit wenige Plattformen, die Sicherheitsanforderungen mindestens so gut erfüllen wie diese Seite hier und in solchen Fällen schnell vermitteln können, was eine klare Lücke darstellt. Zwar könnten deine Gäste prinzipiell wieder dort nachfragen, wo sie zu Dir gekommen sind, aber Berliner Betten werden auch für Neuankömmlinge benötigt. Daher wäre es toll, wenn du die offiziellen Hinweise für solche Fälle überwachen und/oder sicherstellen könntest, dass sie über die sichersten der in Tabelle 1 oben aufgeführten Kanäle suchen.
      </div>
    </div>
  </div>
  </div>


<h3 class="header-style mb-3 mt-3" >4. Technische Unterstützung und Fragen</h3>

 <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
       Ich habe ein technisches Problem, an wen kann ich mich wenden?
      </button>
    </h2>
    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
      <div class="accordion-body">
  Nimm Kontakt mit <a href="mailto:tech@safehost.space" class="text-muted">tech@safehost.space </a> auf, vielen Dank :)
    </div>
  </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
        Ich kenne mich mit Ruby on Rails oder UX/Design aus oder kann anbieten zu übersetzen und möchte etwas beitragen
      </button>
    </h2>
    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
      <div class="accordion-body">
   Hilfe ist immer willkommen! Nimm Kontakt mit <a href="mailto:tech@safehost.space" class="text-muted">tech@safehost.space </a> auf, vielen Dank :)</div>
    </div>
  </div>
  </div>


</div>



