<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg {text-align:left;vertical-align:top}
</style>
<h1>1. General</h1>
<ul>
<li><h3>Why another housing site?</h3>
    It is true that the whole housing topic is very confusing. In general, one should distinguish between sites that give data access to i) official authorities, ii) volunteers cooperating with official authorities, iii) volunteers, and iv) refugees directly. They also differ according to the level of ID verification and safety check that is done, and data protection standards adhered to. Have a look at the below table, in which safety is arguably the higher the further away from the lower-right corner:
    <br>
    <br>
<table class="tg">
<thead>
  <tr>
    <th></th>
    <th>Human safety check / identification</th>
    <th>Computerized safety check / automation</th>
    <th>No safety check / identification</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Data used by official authorities</td>
    <td>Possibly unterkunft-ukraine.de</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Data used by volunteers cooperating with official authorities</td>
    <td><span style="font-weight:700;font-style:normal;text-decoration:none">This site for Berlin LAF. </span><br><br><span style="font-weight:400;font-style:normal;text-decoration:none">Several circulating online forms, which have other drawbacks.</span></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Data used by volunteers</td>
    <td><span style="font-weight:400;font-style:normal;text-decoration:none">A few local initiatives who step in as mediators between public offers and public requests.</span></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Data used directly by refugees</td>
    <td></td>
    <td><span style="font-weight:400;font-style:normal;text-decoration:none">E.g., helppeopleleaveukraine.org or </span>wunderflats.com</td>
    <td>Almost all other platforms, apps, telegram channels.</td>
  </tr>
</tbody>
</table>
    <br>
    Any official authority will require high safety standards when connecting  refugees with hosts. On the other hand, informal sites or media can often be very quick, but come with safety risks, which official authorities will never take. This site aims to fill a gap which was previously filled by online sheet forms, for which it is harder to verify who is behind them.
	<br>
    (If your site is listed incorrectly above, kindly let us know with suitable evidence.)</li>
<li><h3>Why are there so many of them, anyways?</h3>
Everyone wants to help, including IT people. But there was (and is) no central forum to connect those that operate or plan housing platforms with each other. If you operate or plan such a site and want to informally get in touch, please contact matthi@safehost.space . </li>
<li><h3>Can you tell me about the housing site XYZ?</h3>
Not more than what is stated above, sorry.
</li>
<h1>2. Data and security</h1>
<li><h3>What happens to my data?</h3>
At the technical level: your data is encrypted and stored on our secure server (hosting by Heroku on a Frankfurt-based server). We do not sell, share or otherwise give access to your data to any company and our site does not integrate services such as Google Analytics, Facebook Pixel, Doubleclick or similar.
<br>
At the logistical level, it will only be accessible by volunteers of the initiative https://www.accommodation-for-refugees.com/ , who will then do on-the-ground matching at LAF Berlin.</li>
<li><h3>Who is behind this page?</h3>
We are an initiative of ca. 12 people who found each other via social media, sparked by discussions about the housing matching problem.
</li>
<li><h3>How do we know the data is really used where you say it is?</h3>
We are working on implementing backlinks from the official initiatives.
</li>
<li><h3>Is the data encrypted? What does it mean?</h3>
Data flows are protected by SSL. Once the data rests on our server, it is encrypted with AES-256 block-level encryption. We make sure to scrape personal-identifiable data (such as email addresses) from our logs as well.
</li>
<li><h3>Is the code for your page open source?</h3>
Yes, you can see it at https://github.com/Sprachprofi/safehost/ , released under CC BY-NC-SA 4.0.
</li>
<li><h3>Does the phone verification service also store my phone number? Or only your site?</h3>
For billing and legal purposes, the phone verification service needs to store a list of phone numbers that it sent SMS to. However, it does not know anything about you, not even your name.
</li>
<li><h3>Where are your servers located? </h3>
We are hosting with Heroku in Frankfurt.
</li>

<h1>3. Supporting guests</h1>
Also see the TODO:Next steps page
<li><h3>I received guests via your site, can you help me supporting them?</h3>
We presented some main pointers on the site TODO:Next steps which was automatically shown after you registered your space. However, the situation changes very quickly, so we cannot do more than that or guarantee that it will be up to date when you need it, although we do our best to update. Also, maybe one Sozialamt or Behörde will decide slightly differently from another one.
</li>
<li><h3>I cannot host my guests any more, can you tell me where they can go?</h3>
Yes, this is unfortunately a tricky topic. It would be most logical if they searched for and found accommodation in a part of Germany or Europe where there is still long-term housing available. However, there is currently no platform which fulfills security requirements at least as good as this site and works for such cases, which is a clear gap. While in principle, your guests could show up again on-site where data from this homepage is used, Berlin beds are also needed for new arrivals. Hence it would be great if you can monitor official advice for such cases and/or make sure they are searching via the most secure channels among those listed in Table 1 above.
</li>
<h1>4. Tech support and questions</h1>
<li><h3>I have a technical problem, where can I turn to?</h3>
Contact tech@safehost.space , thank you :)
</li>
<li><h3>I know Ruby on Rails or UX/design or can offer translation and want to contribute</h3>
Always welcome! Contact tech@safehost.space , thank you :)
</li>


