<script>
  $( document ).ready(function() {
    console.log( "jQuery is functional." );
  });
</script>

<p>This tool is made for bringing together hosts and refugees for accommodation. While dozens of such tools exist, this one was developed bottom-up in consideration of needs of on-site volunteers at Landesamt für Flüchtlingsangelegenheiten - Berlin (LAF)/State Office for Refugee Affairs Berlin, one of Berlin’s arrival centers for refugees. It emphasizes safety by i) verifying host’s phone number through a code sent via SMS, and ii) saving host’s ID or passport number at the time of on-site greeting/pickup, verified by volunteers.</p>

<p>For now, refugees are being picked up by the hosts personally at LAF.</p>

<p>The aim of this tool is to specifically:<br>
i) support provision of safer spaces through its verification system;<br>
ii) support on-the-spot-matching for refugees arriving at LAF with hosts offering space;<br>
iii) better data security than the previous GoogleForms, including better compliance with GDPR, for example through storage on German servers; and<br>
iv) enable both visibility and trust in the authenticity of the solution. Many people were suspicious of using a simple GoogleForm being shared, without knowing who the data would really go to.</p>

<p>This tool is initially only going to be used by the private initiative <a href="https://www.accommodation-for-refugees.com/">Accomodation for Refugees</a>, volunteering on-site at LAF. They match refugees who arrive on-site with hosts. In the past days, more than 140 accommodations have been mediated.</p>