<script>
  $( document ).ready(function() {
    console.log( "jQuery is functional." );
  });
</script>

  <div class="container">
    <div class="main-page">
      <div class="d-flex justify-content-center">
        <h1 class="header-style text-center">
          <span class="free-header-style fw-bold">Free </span>private accommodation for refugees
        </h1>
      </div>
      <div class="d-flex justify-content-center mt-2">
        <span class="offers-available fs-6">Short-term & long-term</span>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <%= image_tag "location.svg" %> <span class="city-name fs-4">Berlin, Germany</span>
      </div>
      <div class="d-flex justify-content-center mt-2 mb-5">
        <span class="offers-available fs-5"><span class="offers-quantity">499</span> accomodation offers available</span>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex justify-content-evenly bg-style w-75">
          <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="mt-5 mb-5">
              <%= link_to t("buttons.host"), "/admin/available_hosts", class: "btn btn-call-to-action", role: "button" %>
            </div>
            <div class="mt-1 mb-5 lh-1 description-btn">
              <p>Here you can help by offering</p>
              <p>accommodation to refugees.</p>

            </div>
          </div>
          <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="mt-5 mb-5">
              <%= link_to t("buttons.find"), "/admin/available_hosts", class: "btn btn-call-to-action", role: "button" %>
            </div>
            <div class="mt-1 mb-5 lh-1 description-btn">
              <p>Right now only volunteer teams can browse accommodation</p>
              <p>offers available to refugees.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5 mb-5">
        <span class="social-name fs-3 text-center"> Please share this website with someone who can help!</span>
      </div>
      <div href="https://safehost.space/" id="copy-link" class="share-link">
        <div class="d-flex justify-content-center mt-5 mb-2">
          <%= image_tag "share.svg" %>
        </div>
        <div class="d-flex justify-content-center mb-5">
          <div class="share">Share the link
            <span class="link-copied d-none " id="alertArea">Link copied</span>
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>
