<h2>SafeHost</h2>

<p>This site supports the volunteer teams at various arrival points in the city. If you want them to consider you as a host for refugees and call you when there's need, please sign up.</p>