<h2>Legal Notice</h2>
<p>Judith Meyer<br />
Gartenstr. 3a<br />10115 Berlin</p>
<p>Telephone: With reference to ECLI:EU:C:2008:283 and in particular ECLI:EU:C:2019:576 , we offer the subsequent email address instead of opportunities for telephone contact..<br />
E-Mail: <a href="mailto:tech@safehost.space">tech@safehost.space</a><br />
</p>
<p><strong>Person responsible for non-user-provided website content</strong> according to § 5 TMG):<br />Judith Meyer, Gartenstr. 3a, 10115 Berlin</p>
<br /><br /><h2>Disclaimer – legal notes</h2>
§ 1 Liability for contents<br />
The content on this web page is openly accessible, provided for free, and has been compiled with greatest possible care. However, the website provider guarantees neither correctness nor up-to-dateness of any information offered. Where content is published under reference to personal authorship, stated opinions within said content are those of each respective author and not necessarily those of the website provider. The act of loading a website and its free, openly accessible contents does not lead to a contractual relationship between website user and website provider, nor shall said act be construed as basis for a contractual relationship. Additionally, the website provider has neither will nor intention of entering into such a contractual agreement.<br />
<br />
§ 2 Liability for external links<br />
Pages of this website contain links to third-party websites (“external links”). Those third-party websites are subject to liability of each respective provider. The provider of this present website has examined external links, at the time of initial integration into the website, to confirm that no legal violations were evident on those external pages at that time. The provider of this present website has no influence at all on current and future form and contents of such linked third-party websites. The presence of an external link on pages of the present website implies neither endorsement nor appropriation of contents presented on the linked third-party websites. Without manifest evidence for legal violations, continuous supervision of externally linked content is neither reasonable nor feasible for the provider of this present website. The provider of the present website will, upon taking notice of any such legal violation, immediately remove any links pointing to the offending page in question.<br />
<br />
§ 3 Copyright<br />
Content published on this website is subject to German Copyright (“Urheber- und Leistungsschutzrecht”). Any and all use of said content not protected under German Copyright requires prior written approval by the website provider and/or each respective original copyright holder. This holds in particular for reproduction, modification, translation, saving, or processing of databases, database entries, or other content of electronic media and systems. Content for which copyright resides with third parties is marked as such. Unauthorized reproduction or dissemination of this website’s content is prohibited and punishable under German law. An exception is granted for private, personal, and non-commercial use.<br />
<br />
Presentation of this website in external frames is only permitted after prior written authorization by the website operator.<br />
<br />
§ 4 Additional conditions of use<br />
Should individual sections of this website be subject to terms of use that differ from those stated above, this will be expressly indicated at each such respective location. In such cases those additional conditions of use take precedence over those stated here.<p>Source: <a href="https://www.juraforum.de/impressum-generator/">View original</a></p>
