<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg {text-align:left;vertical-align:top}
</style>

<h3>Thank you so much for your support.</h3>
Together, we can help the people fleeing from the war in Ukraine find a safer space.
<br><br>
If you ever need to modify or disable your offer, you can do so by TODO.
<br><br>
It is important to us to give you information for the transition phase of becoming hosts, as different questions may come up. For this, we refer to the below links, which either link to direct information sites or other websites which also collect useful links.
<br><br>
The links lead to both official resources (which can be slow to update) and community-created resources, which are often quicker to inform and cover more detail. However, they don’t have full authority.
<br><br>
Unfortunately, our small development team cannot track daily developments or look for new websites every day ourselves as we work on a voluntary basis and have jobs next to it.
<br><br>
<h3>Medical / psychological support:</h3>
Remember that your guests may have experienced trauma through war scenes, their escape route here, and the loss of people through the war. If you feel like your guest may need support on this side, please refer to these webpages:
<br><br>
<table class="tg">
<thead>
  <tr>
    <th>Official</th>
    <th>Community</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><a href="https://www.berlin.de/ukraine/ankommen/medizinische-versorgung/">https://www.berlin.de/ukraine/ankommen/medizinische-versorgung/</a><br>plus all links listed therein</td>
    <td>https://www.nowar.help/en/medical-support</td>
  </tr>
  <tr>
    <td>https://www.berlin.de/lb/psychiatrie/hilfe-in-krisen/sozialpsychiatrische-dienste-der-bezirke/</td>
    <td><a href="https://www.albatrosggmbh.de/informationen/aktuelles/aufruf-zur-solidaritat.html">https://www.albatrosggmbh.de/informationen/aktuelles/aufruf-zur-solidaritat.html</a></td>
  </tr>
  <tr>
    <td>https://www.kvberlin.de/fuer-patienten/ukraine</td>
    <td>https://fluechtlingsrat-berlin.de/projekt/fluechtlingsmedizin/</td>
  </tr>
  <tr>
    <td>https://www.berliner-krisendienst.de/</td>
    <td>https://krisenchat.de/ukraine</td>
  </tr>
  <tr>
    <td>https://www.berlin.de/ba-friedrichshain-kreuzberg/politik-und-verwaltung/aemter/gesundheitsamt/zentrum-fuer-sexuelle-gesundheit-und-familienplanung/</td>
    <td>https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=1733510210</td>
  </tr>
  <tr>
    <td>https://www.berlin.de/corona/</td>
    <td>https://berlin-ua-volunteers.de/links/medical</td>
  </tr>
</tbody>
</table>
<br><br>

<h3>Legal / organizational support:</h3>
The situation is changing daily. Please, remember that not all Berlin districts may implement or interpret rules identically.
<br><br>
<table class="tg">
<thead>
  <tr>
    <th>Official</th>
    <th>Community</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><a href="https://www.berlin.de/ukraine/">https://www.berlin.de/ukraine/</a><a href="https://www.berlin.de/ukraine/ankommen/">https://www.berlin.de/ukraine/ankommen/</a><br>https://www.berlin.de/ukraine/faq/</td>
    <td>https://fluechtlingsrat-berlin.de/news_termine/ukraine/</td>
  </tr>
  <tr>
    <td><a href="https://www.bmi.bund.de/SharedDocs/faqs/EN/topics/ministry/ukraine-war-eng/faq-ukraine-artikel.html">https://www.bmi.bund.de/SharedDocs/faqs/EN/topics/ministry/ukraine-war-eng/faq-ukraine-artikel.html</a></td>
    <td><a href="https://fluechtlingsrat-berlin.de/news_termine/ukraine/">https://www.ggua.de/startseite/</a><br><a href="https://www.ggua.de/fileadmin/downloads/tabellen_und_uebersichten/Aufenthalt_24.pdf">https://www.ggua.de/fileadmin/downloads/tabellen_und_uebersichten/Aufenthalt_24.pdf</a></td>
  </tr>
  <tr>
    <td>https://www.berlin.de/sen/jugend/jugend/unbegleitete-minderjaehrige-fluechtlinge/</td>
    <td>https://berlin-hilft.com/</td>
  </tr>
  <tr>
    <td>https://www.bamf.de/DE/Themen/AsylFluechtlingsschutz/ResettlementRelocation/InformationenEinreiseUkraine/informationen-einreise-ukraine-node.html</td>
    <td><a href="https://handbookgermany.de/de/ukraine-info.html">https://handbookgermany.de/de/ukraine-info.html</a><br><a href="https://www.nowar.help/en/migration#germany">https://www.nowar.help/en/migration#germany</a></td>
  </tr>
  <tr>
    <td>https://www.berlin.de/en/tourism/travel-information/2917712-2862820-embassies-in-berlin.en.html</td>
    <td><br>https://www.rlc-berlin.org/</td>
  </tr>
  <tr>
    <td>https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32022D0382</td>
    <td><a href="https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=932016496">https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=932016496</a><br>https://berlin-ua-volunteers.de/links/general-info/</td>
  </tr>
</tbody>
</table>
<br><br>

<h3>Helping and receiving help:</h3>
On the following webpages, you find general offers for help or place where you can support yourself. If your guests are in need of new clothes, need help for translation or like to meet newly arrived refugees, these webpages help you find relevant contacts. There are also links to organisations and volunteer groups, if you like to get involved beyond hosting, and take on other tasks as well.
<br><br>
<table class="tg">
<thead>
  <tr>
    <th>Official</th>
    <th>Community</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>https://www.dzi.de/wp-content/uploads/2022/03/DZI-Spenden-Info-Nothilfe-Ukraine.pdf</td>
    <td><a href="https://www.spendenbruecke-ukraine.de/">https://www.spendenbruecke-ukraine.de/</a></td>
  </tr>
  <tr>
    <td>https://www.berlin.de/buergeraktiv/engagieren/corona-engagement/spenden/</td>
    <td><a href="https://www.volunteer-planner.org/impressum/">https://www.volunteer-planner.org/</a><br><a href="https://www.adiuto.org/node/151/tasks">https://www.adiuto.org/node/151/tasks</a><br><a href="https://www.berlin-arrival.de/">www.berlin-arrival.de/</a></td>
  </tr>
  <tr>
    <td></td>
    <td>nebenan.de</td>
  </tr>
  <tr>
    <td></td>
    <td>https://www.dropbox.com/s/m9fg8xezembdpll/Kleiderkammern%20in%20Berlin.pdf?dl=0</td>
  </tr>
  <tr>
    <td></td>
    <td><a href="https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=104674607">https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=104674607</a><br><a href="https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=1223499694">https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=1223499694</a><br>https://berlin-ua-volunteers.de/links/links-berlin/</td>
  </tr>
</tbody>
</table>
<br><br>
