<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg {text-align:left;vertical-align:top}
</style>

<h3>Herzlichen Dank für deine Unterstützung.</h3>
Gemeinsam können wir den Menschen, die dem Krieg aus der Ukraine entkommen, dabei helfen, einen sicheren Ort zu finden.
<br><br>
Falls du dein Angebot anpassen oder löschen musst, kannst du das hier tun TODO.
<br><br>
Es ist uns wichtig, dir Informationen für die Anfangsphase als Gastgeber:in zukommen zu lassen, da in dieser Phase unterschiedliche Fragen aufkommen. Die untenstehenden Links führen entweder direkt zu Informationsseiten zu dem jeweiligen Thema, oder zu Webseiten, die selbst wiederum nützliche Links zusammengetragen haben.
<br><br>
Die Links führen sowohl zu offiziellen Quellen (die mitunter nur langsam aktualisiert werden) als auch zu von Freiwilligen erstellten Seiten, die oft schneller aktualisiert werden und mehr Details abdecken. Diese wurden jedoch wahrscheinlich von keiner offiziellen Seite geprüft.
<br><br>
Leider kann unser kleines Team von Entwickler:innen nicht jeden Tag die neuesten Entwicklungen verfolgen und nach neuen Links und Webseiten Ausschau halten, da wir berufstätig sind und nur ehrenamtlich an dieser Seite arbeiten.
<br><br>
<h3>Medizinische/psychologische Unterstützung:</h3>
Denk daran, dass deine Gäste möglicherweise Traumata erlebt haben; sei es durch Kriegserlebnisse, auf Grund ihrer Flucht oder der Tatsache, dass sie Menschen durch den Krieg verloren haben. Falls du den Eindruck hast, dass deine Gäste hier Unterstützung benötigen, kannst du auf folgenden Links weiterführende Informationen finden:
<br><br>
<table class="tg">
<thead>
  <tr>
    <th>Offizielle Seiten</th>
    <th>Freiwilligen-Seiten</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><a href="https://www.berlin.de/ukraine/ankommen/medizinische-versorgung/">https://www.berlin.de/ukraine/ankommen/medizinische-versorgung/</a><br>Sowie weitere Links auf dieser Webseite</td>
    <td>https://www.nowar.help/en/medical-support</td>
  </tr>
  <tr>
    <td>https://www.berlin.de/lb/psychiatrie/hilfe-in-krisen/sozialpsychiatrische-dienste-der-bezirke/</td>
    <td><a href="https://www.albatrosggmbh.de/informationen/aktuelles/aufruf-zur-solidaritat.html">https://www.albatrosggmbh.de/informationen/aktuelles/aufruf-zur-solidaritat.html</a></td>
  </tr>
  <tr>
    <td>https://www.kvberlin.de/fuer-patienten/ukraine</td>
    <td>https://fluechtlingsrat-berlin.de/projekt/fluechtlingsmedizin/</td>
  </tr>
  <tr>
    <td>https://www.berliner-krisendienst.de/</td>
    <td>https://krisenchat.de/ukraine</td>
  </tr>
  <tr>
    <td>https://www.berlin.de/ba-friedrichshain-kreuzberg/politik-und-verwaltung/aemter/gesundheitsamt/zentrum-fuer-sexuelle-gesundheit-und-familienplanung/</td>
    <td>https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=1733510210</td>
  </tr>
  <tr>
    <td>https://www.berlin.de/corona/</td>
    <td>https://berlin-ua-volunteers.de/links/medical</td>
  </tr>
</tbody>
</table>
<br><br>

<h3>Rechtliche und organisatorische Unterstützung:</h3>
Die Situation ändert sich täglich. Bitte denk daran, dass nicht alle Berliner Bezirke die Vorschriften gleich umsetzen oder auslegen.
<br><br>
<table class="tg">
<thead>
  <tr>
    <th>Official</th>
    <th>Community</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><a href="https://www.berlin.de/ukraine/">https://www.berlin.de/ukraine/</a><a href="https://www.berlin.de/ukraine/ankommen/">https://www.berlin.de/ukraine/ankommen/</a><br>https://www.berlin.de/ukraine/faq/</td>
    <td>https://fluechtlingsrat-berlin.de/news_termine/ukraine/</td>
  </tr>
  <tr>
    <td><a href="https://www.bmi.bund.de/SharedDocs/faqs/EN/topics/ministry/ukraine-war-eng/faq-ukraine-artikel.html">https://www.bmi.bund.de/SharedDocs/faqs/EN/topics/ministry/ukraine-war-eng/faq-ukraine-artikel.html</a></td>
    <td><a href="https://fluechtlingsrat-berlin.de/news_termine/ukraine/">https://www.ggua.de/startseite/</a><br><a href="https://www.ggua.de/fileadmin/downloads/tabellen_und_uebersichten/Aufenthalt_24.pdf">https://www.ggua.de/fileadmin/downloads/tabellen_und_uebersichten/Aufenthalt_24.pdf</a></td>
  </tr>
  <tr>
    <td>https://www.berlin.de/sen/jugend/jugend/unbegleitete-minderjaehrige-fluechtlinge/</td>
    <td>https://berlin-hilft.com/</td>
  </tr>
  <tr>
    <td>https://www.bamf.de/DE/Themen/AsylFluechtlingsschutz/ResettlementRelocation/InformationenEinreiseUkraine/informationen-einreise-ukraine-node.html</td>
    <td><a href="https://handbookgermany.de/de/ukraine-info.html">https://handbookgermany.de/de/ukraine-info.html</a><br><a href="https://www.nowar.help/en/migration#germany">https://www.nowar.help/en/migration#germany</a></td>
  </tr>
  <tr>
    <td>https://www.berlin.de/en/tourism/travel-information/2917712-2862820-embassies-in-berlin.en.html</td>
    <td><br>https://www.rlc-berlin.org/</td>
  </tr>
  <tr>
    <td>https://eur-lex.europa.eu/legal-content/DE/TXT/PDF/?uri=CELEX:32022D0382</td>
    <td><a href="https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=932016496">https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=932016496</a><br>https://berlin-ua-volunteers.de/links/general-info/</td>
  </tr>
</tbody>
</table>
<br><br>

<h3>Hilfe anbieten und empfangen:</h3>
Auf den folgenden Seiten kannst du allgemeine Hilfsangebote oder Orte finden, wo du dich selbst engagieren kannst. Wenn deine Gäste neue Kleidung benötigen, Hilfe beim Übersetzen brauchen oder neu angekommene Geflüchtete kennenlernen möchten, helfen dir diese Seiten, entsprechende Kontakte zu finden. Es gibt auch Links zu Organisationen und Freiwilligengruppen, wenn du dich über die Aufnahme von Geflüchteten hinaus engagieren und auch andere Aufgaben übernehmen möchtest.
<br><br>
<table class="tg">
<thead>
  <tr>
    <th>Offizielle Seiten</th>
    <th>Freiwilligen-Seiten</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>https://www.dzi.de/wp-content/uploads/2022/03/DZI-Spenden-Info-Nothilfe-Ukraine.pdf</td>
    <td><a href="https://www.spendenbruecke-ukraine.de/">https://www.spendenbruecke-ukraine.de/</a></td>
  </tr>
  <tr>
    <td>https://www.berlin.de/buergeraktiv/engagieren/corona-engagement/spenden/</td>
    <td><a href="https://www.volunteer-planner.org/impressum/">https://www.volunteer-planner.org/</a><br><a href="https://www.adiuto.org/node/151/tasks">https://www.adiuto.org/node/151/tasks</a><br><a href="https://www.berlin-arrival.de/">www.berlin-arrival.de/</a></td>
  </tr>
  <tr>
    <td></td>
    <td>nebenan.de</td>
  </tr>
  <tr>
    <td></td>
    <td>https://www.dropbox.com/s/m9fg8xezembdpll/Kleiderkammern%20in%20Berlin.pdf?dl=0</td>
  </tr>
  <tr>
    <td></td>
    <td><a href="https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=104674607">https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=104674607</a><br><a href="https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=1223499694">https://docs.google.com/spreadsheets/d/1F4vHBGR4cXpRsBTZ39nrljWDGHQpvpYfrnh_6ctonhU/edit#gid=1223499694</a><br>https://berlin-ua-volunteers.de/links/links-berlin/</td>
  </tr>
</tbody>
</table>
<br><br>
